/* ==========================================================================
   TYPE
   - Copy
   - Headings
   ========================================================================== */

body {
	font-size: 1em;
	line-height: 1.7em;
}

/* Copy
   ========================================================================== */

p {  }
.intro { }
.small {
	font-size: 0.7em;
	line-height: 1.2em;
}

/* Headings
   ========================================================================== */
h1, h2, h3 {
   @extend %primary;
   color: $primary;
}
h2,.h2 { line-height: 1.25em; }

%primary {
   font-family: "swister",sans-serif;
}